
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: .9rem;
  line-height: 1.5;
  background-color: #ffffff;
  color: #000;
  padding-bottom: 40px; /* for footer spacing */
}

/* Main Content */
main {
  padding: 30px 20px;
}

h1 {
  color: #3f5864;
  font-size: 1.7rem;
  margin-bottom: 1em;
  font-weight: normal;
  line-height: 1.2;
}

ul.bulleted-list {
  list-style: disc;
  margin-left: 20px;
  margin-top: 1em;
}

ul.bulleted-list a {
  color: #0074A2;
  text-decoration: underline;
}

ul.bulleted-list a:hover {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
